# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
src/admin-scripts/ServiceAccountkey.json
src/admin-scripts/*.json
!src/admin-scripts/package.json
!src/admin-scripts/package-lock.json
!src/admin-scripts/*.example.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
